Commented <%= time_ago_in_words(micropost.created_at) %> ago.

<%= form_for micropost.child_posts.build do |f| %>
  <%= f.text_field :content %>
  <%= f.hidden_field :parent_id %>
  <%= f.submit %>
<% end %>