Posted <%= time_ago_in_words(micropost.created_at) %> ago.
<% if current_user?(micropost.user) %>
  <%= link_to "delete", micropost, method: :delete,
                                   data: { confirm: "You sure?" } %>
<% end %>
<%= link_to "repost", repost_micropost_path(micropost),
      method: :post, data: { confirm: "You sure?" } %>

<ol class="microposts">
  <%- micropost.child_posts.each do |post| %>
    <%= render post if post.persisted? %>
  <% end %>
</ol>

