<span class="timestamp">
  Reposted <%= time_ago_in_words(micropost.created_at) %> ago.
  <% if current_user?(micropost.user) %>
    <%= link_to "delete", micropost, method: :delete,
                                     data: { confirm: "You sure?" } %>
  <% end %>
  <%= render micropost.parent_post %>
</span>
